<div class="refer-friends-component pb-0 mb-0">
  <div class="bg-flush-gradient rounded-xl py-6 px-7 flex items-center justify-between min-h-fit">
    <!-- Left section: Refer friends information -->
    <div class="flex flex-col space-y-4 mr-8">
      <h2 class="text-xl font-bold text-white">
        Refer Friends
      </h2>
      <p class="text-flush-gray">
        Let the whole world know about people here and earn more! Receive passive
        income for each player who follows your link. Create your own campaign
        for unique referral link.
      </p>

      <!-- Friends referred and link -->
      <div class="rounded-lg flex items-center">
        <span class="text-2xl font-bold bg-gray-300 p-0.5 px-3 rounded-lg text-black">
          2
        </span>
        <span class="ml-2 text-sm text-white text-[18px]">
          Friends referred
        </span>
      </div>
      <div class="bg-flush-link px-4 py-2 rounded-lg w-full border-flush-gray flex items-center">
        <img src="../../../assets/img/link-icon.svg" alt="Link Icon" width="16.54" height="12.81" class="mr-3">
        <span class="text-white">platform.com/link/415rebfiaeubf</span>
      </div>
    </div>

    <!-- Right section: Icon (safe and coins) -->
    <div class="relative">
      <img src="../../../assets/img/refer-friends.svg" alt="Safe Icon" class="w-[24rem] h-[12rem]">
    </div>
  </div>
</div>
