<div class="boxes-component">
  <div class="text-white font-black mt-8">
    All Boxes
  </div>

  <div class="flex flex-col md:flex-row items-start md:items-center">
    <app-box-categories-filter class=""></app-box-categories-filter>
    <app-search class="ml-0 md:ml-auto"></app-search>
    <app-pagination class="ms-0 md:ms-4"></app-pagination>
  </div>

  <div class="flex overflow-auto overflow-hidden">
    <app-box-item *ngFor="let box of boxes" [box]="box" class="mt-5 mr-5">
    </app-box-item>
  </div>
</div>
